/* See https://themes.asciidoctor.org/preview/  */
@import url("https://themes.asciidoctor.org/stylesheets/rocket-panda.css");

.define .content, .define > p { -webkit-box-shadow: 0 1px 4px black; box-shadow: 0 1px 4px black; }

.def-summary  { text-decoration: underline }

.tag { border: none; height: 100%; border-radius: 4px; box-sizing: border-box; padding: 0 4px; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; }

.tag.aqua { color: white; background-color: #00bfbf; }

.tag.black { color: white; background-color: black; }

.tag.blue { color: white; background-color: #0000bf; }

.tag.fuchsia { color: white; background-color: #bf00bf; }

.tag.gray { color: white; background-color: #606060; }

.tag.green { color: white; background-color: #006000; }

.tag.lime { color: white; background-color: #00bf00; }

.tag.maroon { color: white; background-color: #600000; }

.tag.navy { color: white; background-color: #000060; }

.tag.olive { color: white; background-color: #606000; }

.tag.purple { color: white; background-color: #600060; }

.tag.red { color: white; background-color: #bf0000; }

.tag.silver { color: white; background-color: #909090; }

.tag.teal { color: white; background-color: #006060; }

.tag.white { color: white; background-color: #bfbfbf; }

.tag.yellow { color: white; background-color: #bfbf00; }

.external_reference a { font-style: italic; }


